# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE files
.vscode/
.idea/

# Testing
.coverage
htmlcov/
.pytest_cache/
.*
test/
/tests/
!/robtni/robotni/tests/

# Node
node_modules/
credgoo-node/
syncdata/
syncdata
packages/robotni/robotni_tasks.db
packages/robotni/robotni.db
huey-data/
*.log
*.bin
huey-master/
robotni.db*
*.sql
*.rdb

packages/pdf2md.skale/un.json
tree.md
packages/strukt2meta/strukt2meta.code-workspace
packages/strukt2meta/default_input.md
packages/strukt2meta/un.json
packages/strukt2meta/out.json
packages/strukt2meta/out.json
packages/strukt2meta/out.json
packages/strukt2meta/out.json
packages/strukt2meta/out.md
.gitignore
packages/strukt2meta/output_example.json
